{%extends 'componentes/plantilla.html'%}


{%block content%}
<div class="jumbotron text-center">
    <h1>Bienvenido al sitio de SHOPITESZ </h1>
    <p>Realice sus compras en el mejor lugar</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Compra segura</h3>        
      </div>
      <div class="col-sm-4">
        <h3>Servicio de rastreo de compra</h3>        
      </div>
      <div class="col-sm-4">
        <h3>Todo lo encuentas aqui</h3>        
      </div>
    </div>
  </div>

{%endblock%}
    
    
    



